<div class="pull-right">
  <%= link_to "index", contacts_path %>
</div>

<%= simple_form_for @contact do |f| %>

  <div class="input">
 
    <%= image_tag (contact.avatar.present? ? contact.avatar_url : "placeholder.jpg"), id: "avatar" %>

    <%= f.input :avatar, label: false, as: :file, :class => "btn btn-lg btn-default", id:'uploader_button' %>

    <div class="row">
      <hr>
      <div class="col-md-6">
        <%= f.input :first_name, label: "Prénom",required: false %>
      </div>
      <div class="col-md-6">
        <%= f.input :last_name, label: "Nom" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :address, label: "Adresse" %>
      </div>
      <div class="col-md-2">
        <%= f.input :zip, label: "CP" %>
      </div>
      <div class="col-md-4">
        <%= f.input :country, as: :string, label: "Pays" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :email %>
      </div>
      <div class="col-md-6">
        <%= f.input :phone, label: "Tél" %>
      </div>
    </div>
    <%= f.input :tag_list, label: "Tags", hint: "(séparés par des virgules)"%>
  </div>

  
  <%= f.button :submit, "Créer contact", :class => "btn btn-md btn-success " %>
  

<% end %>
