<div class="pull-right">
  <%= link_to 'index', contacts_path %>
</div>

<%= simple_form_for(@contact, html: { class: 'form-horizontal' }) do |f| %>

 <div class="row">
    <div class="col-md-6">
      <%= f.input :first_name, label: "Prénom",required: false %>
    </div>
    <div class="col-md-6">
      <%= f.input :last_name, label: 'Nom' %>
    </div>
  </div>
  <div>
    <%= f.input :address %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :email %>
    </div>
    <div class="col-md-6">
      <%= f.input :phone %>
    </div>
    <%= f.input :zip %>
    <%= f.input :country, as: :string %>
  </div>

    <%= f.button :submit %>

<% end %>
