<div id='tag_cloud'>
  <% tag_cloud Contact.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class, id: 'tag' %>
  <% end %>
</div>

<hr>  
<div class="row">
  <% @contacts.each do |contact| %>
    <a href= "<%= contact_path(contact.id) %>">
      <div class="col-sm-6">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-12">
               
                  <%= image_tag (contact.avatar.present? ? contact.avatar_url(:thumb) : 'placeholder_min.jpg') %>
                 
                <h4><%= contact.last_name.upcase %> <%= contact.first_name.capitalize %></h4>
              </div>
            </div>
          </li>
        </ul>
      </div>  
    </a>       
  <% end %>
</div>


