<div class="pull-right">
  <%= link_to 'Index', contacts_path %> |
  <%= link_to 'Editer', edit_contact_path(@contact) %> |
  <%= link_to 'Supprimer', contact_path(@contact), method: :delete, data: { confirm: 'Are you sure?' } %> 
</div>

<ul class="list-inline">
  <li>
    <%= image_tag (@contact.avatar.present? ? @contact.avatar_url : 'placeholder.jpg'), id: 'avatar' %>
  </li>
  <li>
    <h4><%= @contact.last_name.upcase %> <%= @contact.first_name.capitalize %></h4>
  </li>
</ul>

<hr>

<p>
  <strong>Adresse:</strong>
  <%= @contact.address.capitalize %>
</p>


<div class="row">
  <div class="col-xs-6">
    <strong>CP:</strong>
    <%= @contact.zip %>
  </div>
  <div class="col-xs-6">
    <strong>Pays:</strong>
    <%= @contact.country.upcase %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <strong>Email:</strong>
    <%= @contact.email %>
  </div>
  <div class="col-xs-6"> 
    <strong>Tél:</strong>
    <%= @contact.phone %>
  </div> 
</div>

<hr>


<b>Tags: <%= raw(@contact.tag_list.map { |t| link_to t, tag_path(t), id: 'tag' }.sort.join()) %></b>

